[run]
source = django_ulogin
branch = True
omit =
    django_ulogin/migrations/*


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
