include setup.py
exclude AUTHORS
exclude CHANGELOG.txt
exclude LICENSE
exclude MANIFEST.in
exclude README.rst
recursive-include django_ulogin/ *
recursive-include django_ulogin/locale *
recursive-include django_ulogin/templates *
recursive-exclude docs *
recursive-exclude * *.pyc
recursive-exclude test_project *
