{% spaceless %}
{% load ulogin_tags %}
{% load i18n %}

    {% if SCHEME_NOT_FOUND %}
        <div>[ulogin]: scheme {{ NAME }} not found</div>
    {% else %}
        {% ulogin_media %}

        {% if DISPLAY == 'button' %}
            <a  id="uLogin-b{{ RAND }}" href="#" x-ulogin-params="display=window&amp;fields={{ FIELDS }}&amp;optional={{ OPTIONAL }}&amp;providers={{ PROVIDERS }}&amp;hidden={{ HIDDEN }}&amp;redirect_uri={{ REDIRECT_URL }}{% if CALLBACK %}&amp;callback={{ CALLBACK }}{% endif %}">
                <img src="http://ulogin.ru/img/button.png" width="187" height="30" alt="{% trans "Multipass" %} "/>
            </a>
        {% else %}
            <div id="uLogin-{{ RAND }}" x-ulogin-params="display={{ DISPLAY }}&amp;fields={{ FIELDS }}&amp;optional={{ OPTIONAL }}&amp;providers={{ PROVIDERS }}&amp;hidden={{ HIDDEN }}&amp;redirect_uri={{ REDIRECT_URL }}{% if CALLBACK %}&amp;callback={{ CALLBACK }}{% endif %}"></div>
        {% endif %}
    {% endif %}
{% endspaceless %}
