{% spaceless %}
    {% load i18n %}

    <script src="{{ WIDGET_URL }}"></script>

    {% if DISPLAY == 'small' %}
		<div id="{{ RAND }}" x-ulogin-params="display=small&amp;fields={{ FIELDS }}&amp;optional={{ OPTIONAL }}&amp;providers={{ PROVIDERS }}&amp;hidden={{ HIDDEN }}&amp;redirect_uri={{ REDIRECT_URL }}{% if CALLBACK %}&amp;callback={{ CALLBACK }}{% endif %}"></div>
    {% endif %}
    {% if DISPLAY == 'panel' %}
		<div id="{{ RAND }}" x-ulogin-params="display=panel&amp;fields={{ FIELDS }}&amp;optional={{ OPTIONAL }}&amp;providers={{ PROVIDERS }}&amp;hidden={{ HIDDEN }}&amp;redirect_uri={{ REDIRECT_URL }}{% if CALLBACK %}&amp;callback={{ CALLBACK }}{% endif %}"></div>
	{% endif %}
    {% if DISPLAY == 'button' %}
		<a href="#" id="{{ RAND }}" x-ulogin-params="display=window&amp;fields={{ FIELDS }}&amp;optional={{ OPTIONAL }}&amp;providers={{ PROVIDERS }}&amp;hidden={{ HIDDEN }}&amp;redirect_uri={{ REDIRECT_URL }}{% if CALLBACK %}&amp;callback={{ CALLBACK }}{% endif %}"><img src="http://ulogin.ru/img/button.png" width=187 height=30 alt="{% trans "Multipass" %}"/></a>
    {% endif %}
{% endspaceless %}
