{% spaceless %}
{% load ulogin_tags %}
{% load i18n %}

    {% if SCHEME_NOT_FOUND %}
        <div>[ulogin]: scheme {{ NAME }} not found</div>
    {% else %}
        {% ulogin_media %}

        {% if DISPLAY == 'button' %}
            <a  id="uLogin-b{{ RAND }}" href="#" data-ulogin="display=window;fields={{ FIELDS }};optional={{ OPTIONAL }};providers={{ PROVIDERS }};hidden={{ HIDDEN }};redirect_uri={{ REDIRECT_URL }}{% if CALLBACK %};callback={{ CALLBACK }}{% endif %}">
                <img src="//ulogin.ru/img/button.png" width="187" height="30" alt="{% trans "Multipass" %} "/>
            </a>
        {% else %}
            <div id="uLogin-{{ RAND }}" data-ulogin="display={{ DISPLAY }};fields={{ FIELDS }};optional={{ OPTIONAL }};providers={{ PROVIDERS }};hidden={{ HIDDEN }};redirect_uri={{ REDIRECT_URL }}{% if CALLBACK %};callback={{ CALLBACK }}{% endif %}"></div>
        {% endif %}
    {% endif %}
{% endspaceless %}
