{% load ulogin_tags %}<!DOCTYPE html>
<html>
<head>
    <title>ULogin test</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="containter">
        {% if request.user.is_authenticated %}
            <p>Hi, {{ request.user.first_name }} {{request.user.last_name }}!</p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            {% ulogin_widget %}

            <hr />
            <p>Enter with google:</p>
        {% ulogin_widget "small_google" %}
        {% endif %}
    </div>
</body>
</html>
